header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.titulo{
   text-align: center;
}
.logoFIA, .logoF1{
    width: 275px;
}

.titulotabelageral{
    text-align: center;
}

table{    width: 85%;
    border-collapse: collapse;
}
th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.etapas{
    text-align: center;
}

.ultimacoluna{
    text-align: right;
}

.segundacoluna{
    text-align: center;
}

.logosequipe{
    width: 125px;
}